html, body, #wrapper {
  height: 100%;
  background-color:white;
}

.weather-item {
  padding-left: 2px;
  padding-right: 2px;
  border: 1px solid transparent;
  border-right-width: 0.5px;
  border-color: green;
  border-radius: 4px;
}

.image_container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}


.grid_item {
  flex-grow: 0;
  flex-shrink: 0;
  width: 300px;
  height: 250px;
  margin: 16px;
}

.grid_image {
  position: absolute;
  width: 300px;
  height: 250px;
}

.selected_grid_image {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 20px black;
}

.image_descriptor {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: auto;
  text-align: center;
}

#compare_button {
  display: block;
  margin: auto;
  float: none;
  height: 50px;
  padding: 15px;
  font-size: 18px;
  line-height: 20px;
  color: red;
}

.cd-resize-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  overflow: hidden;
  /* Force Hardware Acceleration in WebKit */
  transform: translateZ(0);
  backface-visibility: hidden;
}
.is-visible .cd-resize-img {
  width: 50%;
  /* bounce in animation of the modified image */
  animation: cd-bounce-in 0.7s;
}
@keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}

#page-wrapper {
height:100%;
margin-top: 50px;
}

.grid_image_normal {
  z-index: 1;
}

.grid_image_processed {
  z-index: 0;
}
