.image_container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.grid_image {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 0;
  width: 300px;
  height: 250px;
  margin: 16px;
}

.selected_grid_image {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 20px #9ecaed;
}
